<div class="mx-auto w-full text-gray-500 px-4 py-14 bg-white mt-4 shadow-xl">
  <h1 class="font-bold text-4xl uppercase">New quiz</h1>

  <%= render "form", quiz: @quiz %>

  <%= link_to 'Back to quizzes', quizzes_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
